:root {
    /* --cutelab_purple: rgb(131, 58, 180); */
    --cutelab_purple: rgb(191, 118, 240); /* same rgb ratio but brighter for better readbility */
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    height: 100%;
    color: white;
    font-size: 16px;
}

body {
    min-height: 100%;
    background: rgb(131, 58, 180);
    background: linear-gradient(
            47deg,
            rgba(131, 58, 180, 0) 0%,
            rgba(115, 84, 157, 0) 37%,
            rgba(7, 255, 0, 1) 100%
        ),
        linear-gradient(137deg, rgba(131, 58, 180, 1) 0%, rgba(0, 0, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: "Press Start 2P", cursive;
    margin-block-start: 0.83em;
    margin-block-end: 0.2em;
}

h2 {
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.1em;
}

div.feliz-container {
    width: 800px;
    margin: auto;
}

@keyframes jueves-in {
    0% {
        translate: 150px 0px;
        letter-spacing: 2em;
        width: 0%;
        opacity: 0%;
    }
    /* 20% {width: 100%; opacity: 100%;} */
    100% {
        letter-spacing: normal;
        width: 100%;
        opacity: 100%;
    }
}

@keyframes jueves-out {
    from {
        opacity: 100%;
    }
    to {
        translate: -400px 0px;
        opacity: 0%;
    }
}

h2.feliz {
    overflow: hidden;
    text-align: left;
    animation: jueves-in 4s ease-in-out 1, jueves-out 4s ease-in-out 1;
    animation-delay: 0s, 4.5s;
    animation-fill-mode: forwards, forwards;
    white-space: nowrap;
    font-family: "Chalkboard", sans-serif;
    margin-left: 400px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0.6em;
}

a {
    color: var(--cutelab_purple);
}

.cutelab-main {
    width: 100%;
    text-align: center;
}

.description {
    max-width: 450px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.no-link-color {
    color: inherit; /* This makes the link inherit the color of the parent element */
    text-decoration: none; /* This removes the underline from the link */
}

/* Optionally, you can add styles for hover and focus states */
.no-link-color:hover,
.no-link-color:focus {
    color: inherit;
    text-decoration: none;
}

.large-button {
    font-size: 20px; /* Large text */
    padding: 0.4em 0.8em;
    border: 1px solid white; /* White border */
    background-color: transparent; /* Clear button */
    color: white; /* White text */
    cursor: pointer;
    border-radius: 0.5em;
    transition: border-color 0.3s ease;

    display: inline-block;
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
}

.large-button:hover {
    border-color: var(--cutelab_purple); /* Change border color on hover */
    color: var(--cutelab_purple); /* Change border color on hover */
}
